#button2,#button1, #button3,#button4{
    color:#ffffff;
	background-color:transparent;
	margin-bottom:5%;
	outline: none;
    border:2px solid white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#button1{
	margin-top:60%;
}

#main{
	background-image:url("../image/mainbg.jpg");
	background-attachment:cover;
	background-repeat:no-repeat;
}